<footer class="bg-dark text-light mt-auto py-4 border-top border-secondary">
  <div class="container-fluid px-4">
    
    <div class="row align-items-center g-3 mb-3">
  
  <div class="col-12 col-md-3 text-center text-md-start">
    <h5 class="fw-bold m-0 fs-5">
      <i class="bi bi-film me-2"></i><span class="text-white">Ciné</span><span class="text-custom-green">phoria</span>
    </h5>
  </div>
  
  <div class="col-12 col-md-6 text-center">
    <p class="m-0">
      <span class="text-custom-green fs-6 fw-bold me-2">Nos cinémas :</span>
      <span class="text-white-50 fs-6 fw-normal">
        Paris &nbsp;-&nbsp; Nantes &nbsp;-&nbsp; Bordeaux &nbsp;-&nbsp; Toulouse &nbsp;-&nbsp; Lille &nbsp;-&nbsp; Charleroi (BE) &nbsp;-&nbsp; Liège (BE)
      </span>
    </p>
  </div>
  
  <div class="col-12 col-md-3 d-none d-md-block"></div>

</div>

    

    <div class="row">
      <div class="col-12 text-center">
        <p class="text-white-50 small m-0">
          &copy; 2026 Cinéphoria. Tous droits réservés. &nbsp;&nbsp;|&nbsp;&nbsp; 
          <span class="text-custom-green fw-semibold">🍃 20% de nos revenus reversés pour l'écologie.</span>
        </p>
      </div>
    </div>

  </div>
</footer>